[github]
	user = jklukas
	name = Jeff Klukas
	email = klukas@wisc.edu
[user]
	name = Jeff Klukas
	email = jeff.klukas@gmail.com
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
